.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}


.Project {
  flex: 1;
  min-width: 300px;
  max-width:400px ;
  margin: 50px 20px;
  position: relative;
  border-radius: 10px;
  background-color: #f1f5f8 ;
  transition : all .3s ;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.Project:hover{
  transform: scale(1.1 , 1.1);
}

.Project img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: contain;
  width: 100% ;
}
.Project .Title {
  padding: 10px ;
  border-radius: 5px;
  font-size: 1rem;
  color : #010b1b; 
  margin:0px ;
}
.ProjectName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.ProjectName span a {
  margin: 0px 10px;
}
